.title{
    color: gray;
    font-weight: 700;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: auto;
}

.ticket_button{
    float: right;
    padding: 5px;
    margin: 10px;
}
.ticket_button>div{
    float: right;
    padding: 5px;
    margin: 5px;
}

.ModalStyle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 670px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 24;
    color: black;
    padding: 25px;
}
@media screen and (max-width: 700px) {
    .ModalStyle{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

.centering_parent {
    padding: 20px;              /* 余白指定 */
    background-color:  #ddd;    /* 背景色指定 */
    height: 100%;              /* 高さ指定 */
    width: 100%;               /* 幅指定 */
    position: relative;         /* 位置指定の基準点にする */
}

.centering_item {
   background-color: #2196F3;   /* 背景色指定 */
   position: absolute;          /* 位置指定 */
   top: 50%;                    /* 親要素の半分下にずらす */
   left: 50%;                   /* 親要素の半分右にずらす */
   transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
   padding: 20px;               /* 余白指定 */
}